@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (ViewBag.UserRole == "Client")
    {
        <a class="btn btn-primary" href="@Url.Action("Index", "Restaurants")">Wyświetl Restauracje</a>
        <a class="btn btn-primary" href="@Url.Action("Index", "Baskets")">Twój Koszyk</a>
        <a class="btn btn-primary" href="@Url.Action("MyOrders", "Orders")">Moje Zamówienia</a>

    }
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
