@{
ViewData["Title"] = "Logowanie restauracji";
}


<div class="container" style="max-width: 400px; background-color: white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); padding: 20px;">
    <h2 class="text-center">Logowanie restauracji</h2>
    <form asp-action="LoginRestaurant" method="post" class="mt-2">
        <div class="form-floating mt-3">
            <input type="email" name="email" class="form-control" placeholder="Email" id="email" required/>
            <label>Adres email</label>
        </div>
        <div class="form-floating mt-3">
            <input name="password" class="form-control" type="password" placeholder="Password" id="password" required/>
            <label>Hasło</label>
        </div>
        <br/>
        <button type="submit" class="btn btn-primary w-100">Zaloguj</button>
    </form>
    <br/>
    <p>Nie masz konta? <a asp-action="RegisterRestaurant" asp-controller="Restaurants">Zarejestruj się tutaj!</a></p>
</div>

@if (ViewData["LoginError"] != null)
{
<div class="text-danger mt-2">
    @ViewData["LoginError"]
</div>
}