@model szyBka_szAMa.Models.User

@{
ViewData["Title"] = "Register Restaurant Admin";
}


<div class="d-flex justify-content-center align-items-center">
    <div class="container" style="max-width: 600px; background-color: white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); padding: 20px;">
        <h2 class="text-center">Register Restaurant Admin</h2>
        <form asp-action="RegisterRestaurantAdministrator" method="post" class="mt-2">
            <h4>Dane osobowe</h4>
            <div class="row">
                <div class="form-floating col-md-6">
                    <input asp-for="FirstName" class="form-control" placeholder="" />
                    <label asp-for="FirstName">Imię</label>
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-floating col-md-6">
                    <input asp-for="LastName" class="form-control" placeholder="" />
                    <label asp-for="LastName">Nazwisko</label>
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-floating mt-3">
                <input asp-for="UserName" class="form-control" placeholder="User Name" />
                <label asp-for="UserName">Nazwa użytkownika</label>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="row mt-3">
                <div class="form-floating col-md-6">
                    <input asp-for="Password" class="form-control" type="password" placeholder="Password" id="password" />
                    <label asp-for="Password">Hasło</label>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-floating col-md-6">
                    <input type="password" class="form-control" placeholder="Confirm Password" id="confirmPassword" />
                    <label for="confirmPassword">Potwierdź hasło</label>
                    <span id="confirmPasswordError" class="text-danger"></span>
                </div>
            </div>

            <h4 class="mt-4">Dane adresowe</h4>
            <div class="row">
                <div class="form-floating col-md-6">
                    <input name="address.Street" class="form-control" placeholder="Street" />
                    <label>Ulica</label>
                    <span asp-validation-for="Address.Street" class="text-danger"></span>
                </div>
                <div class="form-floating col-md-3">
                    <input name="address.Building" class="form-control" placeholder="Building" />
                    <label>Budynek</label>
                    <span asp-validation-for="Address.Building" class="text-danger"></span>
                </div>
                <div class="form-floating col-md-3">
                    <input name="address.Apartment" class="form-control" placeholder="Apartment" />
                    <label>Lokal</label>
                </div>
            </div>

            <div class="row mt-3">
                <div class="form-floating col-md-6">
                    <input name="address.ZipCode" class="form-control" placeholder="Zip Code" />
                    <label>Kod pocztowy</label>
                    <span asp-validation-for="Address.ZipCode" class="text-danger"></span>
                </div>
                <div class="form-floating col-md-6">
                    <input name="address.City" class="form-control" placeholder="City" />
                    <label>Miasto</label>
                    <span asp-validation-for="Address.City" class="text-danger"></span>
                </div>
            </div>

            <div class="form-floating mt-3">
                <input name="address.Email" class="form-control" placeholder="Email" />
                <label>Adres email</label>
                <span asp-validation-for="Address.Email" class="text-danger"></span>
            </div>

            <div class="form-floating mt-3">
                <input name="address.Phone" class="form-control" placeholder="Phone" />
                <label>Numer telefonu</label>
            </div>

            <button type="submit" class="btn btn-primary mt-4 w-100">Zarejestruj</button>
        </form>
        <div class="mt-3 text-center">
            <p>Masz już konto? <a href="@Url.Action("LoginAdminRestaurant", "Restaurants")" class="btn btn-link">Zaloguj się tutaj!</a></p>
        </div>
    </div>
</div>

@section Scripts {
    <script>
    const confirmPasswordField = document.getElementById('confirmPassword');
    const passwordField = document.getElementById('password');
    const confirmPasswordError = document.getElementById('confirmPasswordError');

    // Walidacja przy wysyłaniu formularza
    document.getElementById('registerForm').addEventListener('submit', function (e) {
    if (passwordField.value !== confirmPasswordField.value) {
    e.preventDefault();
    confirmPasswordError.textContent = 'Passwords do not match.';
    }
    });

    // Walidacja przy zmianie wartości pola confirmPassword
    confirmPasswordField.addEventListener('input', function () {
    if (passwordField.value === confirmPasswordField.value) {
    confirmPasswordError.textContent = '';
    } else {
    confirmPasswordError.textContent = 'Passwords do not match.';
    }
    });
    </script>
@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}