@model szyBka_szAMa.Models.User
<h2>Dodawanie pracownika</h2>
<div class="d-flex justify-content-center align-items-center">
    <div class="container" style="max-width: 600px;">
        <form method="post">
            <h4>Dane osobowe</h4>
            <div class="row">
                <div class="form-floating col-md-6">
                    <label for="FirstName">Imię</label>
                    <input type="text" class="form-control" id="FirstName" name="FirstName" required />
                </div>
                <div class="form-floating col-md-6">
                    <label for="LastName">Nazwisko</label>
                    <input type="text" class="form-control" id="LastName" name="LastName" required />
                </div>
            </div>

            <div class="form-floating mt-3">
                <label for="UserName">Nazwa użytkownika</label>
                <input type="text" class="form-control" id="UserName" name="UserName" required />
            </div>

            <div class="row mt-3">
                <div class="form-floating col-md-6">
                    <label for="Password">Hasło</label>
                    <input type="password" class="form-control" id="Password" name="Password" required />
                </div>
                <div class="form-floating col-md-6">
                    <input type="password" class="form-control" placeholder="Confirm Password" id="confirmPassword" />
                    <label for="confirmPassword">Potwierdź hasło</label>
                    <span id="confirmPasswordError" class="text-danger"></span>
                </div>
            </div>

            <h4 class="mt-4">Dane adresowe</h4>
            <div class="row">
                <div class="form-floating col-md-6">
                    <input name="address.Street" class="form-control" placeholder="Street" />
                    <label>Ulica</label>
                    <span asp-validation-for="Address.Street" class="text-danger"></span>
                </div>
                <div class="form-floating col-md-3">
                    <input name="address.Building" class="form-control" placeholder="Building" />
                    <label>Numer budynku</label>
                    <span asp-validation-for="Address.Building" class="text-danger"></span>
                </div>
                <div class="form-floating col-md-3">
                    <input name="address.Apartment" class="form-control" placeholder="Apartment" />
                    <label>Numer mieszkania</label>
                </div>
            </div>

            <div class="row mt-3">
                <div class="form-floating col-md-6">
                    <input name="address.ZipCode" class="form-control" placeholder="Zip Code" />
                    <label>Kod pocztowy</label>
                    <span asp-validation-for="Address.ZipCode" class="text-danger"></span>
                </div>
                <div class="form-floating col-md-6">
                    <input name="address.City" class="form-control" placeholder="City" />
                    <label>Miasto</label>
                    <span asp-validation-for="Address.City" class="text-danger"></span>
                </div>
            </div>

            <div class="form-floating mt-3">
                <input name="address.Email" class="form-control" placeholder="Email" />
                <label>Adres email</label>
                <span asp-validation-for="Address.Email" class="text-danger"></span>
            </div>

            <div class="form-floating mt-3">
                <input name="address.Phone" class="form-control" placeholder="Phone" />
                <label>Numer telefonu</label>
            </div>
            @{
                var roles = ViewBag.Roles as IEnumerable<SelectListItem>;
            }

            <div class="form-group">
                <label for="Role">Role</label>
                <select class="form-select" id="Role" name="Role" required>
                    @if (roles != null)
                    {
                        foreach (var role in roles)
                        {
                            <option value="@role.Value">@role.Text</option>
                        }
                    }
                    else
                    {
                        <option>No roles available</option>
                    }
                </select>
            </div>

            <input type="hidden" name="RestaurantId" value="@Model.RestaurantId" />
            <button type="submit" class="btn btn-primary mt-4 w-100">Dodaj pracownika</button>
        </form>
    </div>
</div>
