@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (Context.Session.GetString("LoggedInUserRole") == "RestaurantAdministrator")
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Restaurants" asp-action="LoginRestaurant">Logowanie restauracji</a>
        </li>
    }
    
    @if (Context.Session.GetInt32("LoggedInUserId") != null)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Details" asp-route-id='@Context.Session.GetInt32("LoggedInUserId")'>Witaj, @Context.Session.GetString("LoggedInUserName")!</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="@Url.Action("Logout", "Users")">Wyloguj się</a>
        </li>
    }
    else
    {

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Create">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Login">Login</a>
        </li>
    }
</ul>
